[Unit]
Description=Server to xfer files to plex server
After=network.target

[Service]
ExecStart=/var/lib/plexmediaserver/plex-downloader --src.server "derp.biz" --split "roy_rogers/" --port 4567
Environment="RUST_LOG=plex_downloader=debug"
Type=simple
User=plex
Group=plex
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
